/* You're welcome to change any of this! */
* {
    box-sizing:inherit;
}
header {
    padding:20px;
    background-color: rgb(244, 145, 162);;
    display:flexbox;
    align-items: left;
    justify-content: center;
    color: #100f0f;
    
}

body {
    margin: 0px;
    display:flow-root; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(244, 145, 162);
    background-color: #100f0f;
    padding: 20px;
    line-height: 100px;
    
}



p, li {
    line-height: 1.5em;
    }